---
import GalleryWrapper from "@components/GalleryWrapper";
import Accordion from "@components/Accordion";
import Layout from "@layouts/Layout.astro";
import { getContent, getContentBySlug } from "@lib/data.";
import Pagination from "@components/Pagination";
import {
  IconMapPinned,
  IconMapPin,
  IconClock4,
  IconPeople,
  IconPerson,
  IconCoffee,
  IconBus,
  IconChat,
} from "@components/Icons";

// export async function getStaticPaths() {
// const posts = await getContent();
// return posts.map((post: any) => ({
//   params: { slug: post.slug },
//   props: { post },
// }));
// }

const { slug } = Astro.params;
const post = await getContentBySlug(slug as string);
const content: any = post;

if (!content) {
  return Astro.redirect("/404");
}

const bucketUrl = import.meta.env.SUPABASE_BUCKET;

const head = {
  deskripsi: content.descriptions[0].description,
  image: content.images[0].url,
  canonical: `/trip/${content.slug}`,
  highlight: content.highlight.join(", "),
};

export const prerender = false;
---

<Layout title={content.nama} {...head}>
  <section class="max-w-7xl mx-auto lg:px-8 sm:px-6 px-4">
    <h1 class="sm:text-4xl text-3xl font-bold mb-4">{content.nama}</h1>
    <div class="flex flex-wrap gap-4 text-sm font-medium text-gray-600">
      <div class="flex items-center">
        <IconMapPin />
        {content.lokasi}
      </div>
      <div class="flex items-center">
        <IconClock4 />
        {
          content.itineraries.length > 1
            ? `${content.itineraries.length} Days`
            : `${content.itineraries.length} Day`
        }
      </div>
      <div class="flex items-center">
        {content.jenistrip === "Private" ? <IconPerson /> : <IconPeople />}
        {content.jenistrip}
      </div>
    </div>
  </section>

  <section class="max-w-7xl mx-auto lg:px-8 sm:px-6 px-4 mt-8">
    <GalleryWrapper images={content.images} bucketUrl={bucketUrl} client:load />
  </section>

  <section class="max-w-7xl mx-auto lg:px-8 sm:px-6 px-4 mt-8">
    <div class="border border-gray-300 rounded-lg sm:p-6 p-4">
      <h2 class="title-heading">Deskripsi</h2>
      <article class="space-y-2">
        {
          content.descriptions.map((text: any, index: number) => (
            <p
              class={`text-gray-800 sm:text-base text-sm
              ${index === 0 ? "font-semibold" : "font-medium"}`}
            >
              {text.description}
            </p>
          ))
        }
      </article>
    </div>
  </section>

  <section class="max-w-7xl mx-auto lg:px-8 sm:px-6 px-4 mt-8">
    <div class="border border-gray-300 rounded-lg sm:p-6 p-4">
      <h2 class="title-heading">Tour Highlight</h2>
      <ul class="space-y-2">
        {
          content.highlight.map((highlight: any) => (
            <li class="flex items-start text-sm sm:text-base">
              <IconCoffee />
              <span>{highlight}</span>
            </li>
          ))
        }
      </ul>
    </div>
  </section>

  <section class="max-w-7xl mx-auto lg:px-8 sm:px-6 px-4 mt-8">
    <div class="border border-gray-300 rounded-lg sm:p-6 p-4">
      <h2 class="title-heading">Destinasi</h2>
      <div
        class="sm:grid hidden grid-cols-1 md:grid-cols-2 gap-4 max-h-48 sm:max-h-none overflow-y-auto"
      >
        {
          content.destinasi.map((destinasi: any) => (
            <div class="flex items-center text-sm sm:text-base">
              <IconMapPinned />
              <span>{destinasi}</span>
            </div>
          ))
        }
      </div>
      <div class="sm:hidden block">
        <Pagination
          content={content.destinasi}
          contentTypes="destinasi"
          client:load
        />
      </div>
    </div>
  </section>

  <section class="max-w-7xl mx-auto lg:px-8 sm:px-6 px-4 mt-8">
    <div class="border border-gray-300 rounded-lg sm:p-6 p-4">
      <h2 class="title-heading">Itinerary</h2>
      <div class="space-y-2">
        <Accordion data={content.itineraries} isFaq="" client:load />
        <p class="sm:text-sm text-xs text-end italic mt-4">
          <strong>*</strong> Hanya sebagai acuan dasar, dalam pelaksanaanya menyesuaikan
          dengan kondisi yang ada.
        </p>
      </div>
    </div>
  </section>

  <section class="max-w-7xl mx-auto lg:px-8 sm:px-6 px-4 mt-8">
    <div class="border border-gray-300 rounded-lg sm:p-6 p-4">
      <h2 class="title-heading">Fasilitas</h2>
      <div
        class="sm:grid hidden grid-cols-1 md:grid-cols-2 gap-4 max-h-48 sm:max-h-none overflow-y-auto"
      >
        {
          content.fasilitas.map((inclusion: any) => (
            <div class="flex items-center text-sm sm:text-base">
              <IconBus />
              <span>{inclusion}</span>
            </div>
          ))
        }
      </div>
      <div class="sm:hidden block">
        <Pagination
          content={content.fasilitas}
          contentTypes="fasilitas"
          client:idle
        />
      </div>
    </div>
  </section>

  <section class="max-w-7xl mx-auto lg:px-8 sm:px-6 px-4 mt-8">
    <div class="border border-gray-300 rounded-lg sm:p-6 p-4">
      <h2 class="title-heading">Pricelist</h2>
      <div class="overflow-x-auto">
        <table class="w-full mb-4">
          <thead>
            <tr class="bg-sandy-beige text-center">
              <th class="px-4 py-2 font-semibold border">Jumlah Peserta</th>
              <th class="px-4 py-2 font-semibold border">Harga per pax</th>
            </tr>
          </thead>
          <tbody>
            {
              content.harga
                .slice()
                .sort((a: any, b: any) => a - b)
                .map((item: any, index: number) => {
                  const pax = content.harga.length + 1 - index;
                  return (
                    <tr class="hover:bg-sandy-beige/50 text-center">
                      <td class="px-4 py-2 border">{pax}</td>
                      <td class="px-4 py-2 border font-medium">
                        Rp {`${Number(item).toLocaleString("id-ID")}.000`}
                      </td>
                    </tr>
                  );
                })
            }
          </tbody>
        </table>
        <p class="sm:text-sm text-xs italic">
          {
            `*Lebih dari ${content.harga.length + 1} orang, silakan hubungi kami.`
          }
        </p>
      </div>
    </div>
    <div class="flex justify-center mt-8">
      <a
        class="inline-flex gap-x-1 items-center justify-center w-fit mt-2 py-2 px-4 bg-orange-jreng/80 text-black hover:text-white hover:bg-deep-blue hover:scale-105 border rounded-full font-semibold transition-all duration-300"
        href={`https://wa.me/6285157276433/?text=Hi%20Badak%20Gunung!%20Saya%20mau%20tanya%20tentang%20${encodeURIComponent(content.nama || "")}`}
        target="_blank"
      >
        <IconChat />
        Pesan Sekarang
      </a>
    </div>
  </section>
</Layout>

<style>
  .title-heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    width: fit-content;
  }

  .title-heading::after {
    content: "";
    display: block;
    border-bottom: 3px solid #1b365d;
    margin-left: 1rem;
    margin-top: 0.2rem;
  }

  .title-heading::before {
    content: "";
    display: block;
    border-bottom: 3px solid #1b365d;
    margin-right: 1rem;
  }
</style>
