---
import Navbar from "@components/Navbar";
import "@styles/global.css";

const {
  title,
  deskripsi,
  description = deskripsi ||
    "Badak Gunung - Menyediakan beragam tempat liburan di Malang dengan paket wisata beragam dan Paket Tour Gunung Bromo",
  image = "/logo.png",
  canonical = Astro.url.pathname,
  keywords = "bromo, jawa timur, travel, indonesia, badak gunung, perjalanan, wisata, open trip, private trip, malang",
  highlight,
} = Astro.props;

const isHome = Astro.url.pathname === "/" ? true : false;

const pageTitle = Astro.url.pathname === "/" ? "Home" : title;

const siteUrl = Astro.url.origin;
const fullCanonical = `${siteUrl}${canonical}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/*" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{pageTitle || title} | Badak Gunung</title>
    <meta name="title" content={`${pageTitle || title} | Badak Gunung`} />
    <meta name="description" content={description} />
    <meta name="keywords" content={`${keywords}, ${highlight}`} />
    <link rel="canonical" href={fullCanonical} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={fullCanonical} />
    <meta
      property="og:title"
      content={`${pageTitle || title} | Badak Gunung`}
    />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${siteUrl}${image}`} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={fullCanonical} />
    <meta
      property="twitter:title"
      content={`${pageTitle || title} | Badak Gunung`}
    />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={`${siteUrl}${image}`} />

    <!-- Tambahan Meta Tags -->
    <meta name="author" content="Badak Gunung" />
    <meta name="robots" content="index, no-follow" />
  </head>
  <body class="font-jakarta-plus">
    <Navbar bgNav={isHome} client:load />
    <div class={isHome ? "mt-0" : "sm:mt-26 mt-18"}></div>
    <slot />
    <footer class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-12">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 sm:gap-y-0 gap-y-8"
      >
        <div class="gap-y-2">
          <h3 class="text-lg font-bold underline mb-4">For Travellers</h3>
          <div class="flex flex-col text-sm gap-y-2">
            <a href="/about">Why Us?</a>
            <a href="/faq">FAQ</a>
            <a href="/faq#terms-conditions">Terms & Conditions</a>
            <a href="https://www.instagram.com/badakgunung/" target="_blank">
              Our Gallery
            </a>
          </div>
        </div>
        <div class="flex flex-col gap-y-2">
          <h3 class="text-lg font-bold underline mb-4">Our Office</h3>
          <p class="text-sm">Pongangan, Manyar, Gresik, Jawa Timur 61151</p>
          <p class="text-sm">Phone: +62 851 5727 6433</p>
          <p class="text-sm">Email: rekayodolan@gmail.com</p>
        </div>
      </div>
      <div class="mt-8 py-8">
        <p class="text-sm">
          &copy; {new Date().getFullYear()} Badak Gunung - Travel with Style.
        </p>
      </div>
    </footer>
  </body>
</html>
